*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(131, 151, 240);
    color: rgb(2, 12, 95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 98px 0;
}
.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 80px;
}